.todoitems{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    align-items: center;
}

.todoitems-container{
    display: flex;
}

.todoitems-text{
    padding-left: 20px;
    padding-top: 8px;
    color:rgb(59, 26, 52) ;
    font-size: 18px;
}

.todoitems-cross-icon{
    cursor: pointer;
    padding-right: 15px;
}

.line-through{
    text-decoration: line-through solid #ff0000 1.5px;
}